<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    
    {{! Styles }}
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js?v={{ date format="hmms" }}"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css?v={{ date format="hmms" }}" />
    <link rel="stylesheet" href="../assets/css/custom.css?v={{ date format="hmms" }}" />
    <link rel="stylesheet" href="../assets/css/gallery.css?v={{ date format="hmms" }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css?v={{ date format="hmms" }}" /><![endif]-->
    <link rel="stylesheet" href="../assets/css/sweetalert.css?v={{ date format="hmms" }}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
  <section id="nav">
    <div class="container flex f-center">
      <div>
        <a href="/#projects">HOME</a>
      </div>
    </div>
  </section>

  {{{body}}}

  <section id="footer" class="center">
    <div class="container">
      <div class="copyright">
	      <div>Developed By: <a href="http://jonnyforney.com">Jonny Forney</a></div>
        <div>Base Design: <a href="http://html5up.net">HTML5 UP</a></div>
        <div>&copy; Untitled. All rights reserved.</div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script src="../assets/js/includes/jquery.min.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/includes/jquery.scrollzer.min.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/includes/jquery.scrolly.min.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/includes/skel.min.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/includes/util.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/includes/sweetalert.min.js?v={{ date format="hmms" }}"></script>
  <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js?v={{ date format="hmms" }}"></script><![endif]-->

  <script src="../assets/js/includes/main.js?v={{ date format="hmms" }}"></script>
  <script src="../assets/js/pages/scripts.js?v={{ date format="hmms" }}"></script>
</body>
</html>
