{{!< default}}
<!-- Header -->
  <section id="header">
    <header class="flex column">
      <div class="image avatar">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="" />
        {{else}}
          <img src="assets/images/avatar.jpg" alt="" />
        {{/if}}
      </div>
      <div id="logo">
        <a href="javascript:void(0)">Eric Beerbower</a>
      </div>
      <div class="employee-title">Owner</div>
    </header>
    <nav id="nav">
      <ul>
        <li><a href="#about" class="active">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#projects">Recent Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <footer>
      <ul class="icons">
        <li>
          <a href="http://facebook.com/{{@blog.facebook}}" target="_blank" class="icon fa-facebook-official">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/" target="_blank" class="icon fa-linkedin-square">
            <span class="label">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#contact" class="icon fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
    </footer>
  </section>

<!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
      <div id="main">

        <!-- One -->
          <section id="about">
            <div class="container">
              <header class="major">
                <h2>{{@blog.title}}</h2>
                <p>
                  {{ghost_foot}}
                </p>
              </header>
              <p class="flex jcc">
                <a href="#contact" class="link-btn">Get Quote Now</a>
              </p>
              <p>
                {{@blog.description}}
              </p>
            </div>
          </section>

        <!-- Two -->
          <section id="services">
            <div class="container">
              <h3>Services</h3>
              <p>At Beerbower Painting we can meet all of your residential and comercial interior and exterior painting needs. While we are at it we can also provide minor plumbing and electrical services.</p>
              <ul class="feature-icons">
                <li class="fa-check">Powerwashing</li>
                <li class="fa-check">Interior/Exterior Painting</li>
                <li class="fa-check">Staining</li>
                <li class="fa-check">Wall Repair</li>
                <li class="fa-check">Wallpaper Removal</li>
                <li class="fa-ellipsis-h">and much more!</li>
              </ul>
            </div>
          </section>

        <!-- Three -->
          <section id="projects">
            <div class="container">
              <h3>Recent Projects</h3>
              <p>Here are a few of our most recent projects! For more pictures go <a href='gallery'>here</a>.</p>
              <hr />
              <div class="features flex">
                <!-- built dynamically with ajax -->
              </div>
            </div>
          </section>
        <!-- Four -->
          <section id="contact">
            <div class="container">
              <h3>Contact Me</h3>
              <p>If you are interested in having us come out and give you a quote you can contact us here. We will get back with you as quickly as we can.</p>
              <div class="flex">
                <div class="left">
                  <form id="contact-form" method="POST" action="">
                    <input type="text" name="name" id="name" placeholder="Name" required />

                    <div class="flex column flex-center">
                      <label>Preferred Contact Method</label>
                      <div class="flex flex-row flex-row-always">
                        <label class="radio-inline">
                          <input type="radio" name="prefer" id="prefer_email" value="email" checked="true" required>
                          <span>&nbsp;Email</span>
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="prefer" id="prefer_phone" value="phone" required>
                          <span>&nbsp;Phone</span>
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="prefer" id="prefer_either" value="either" required>
                          <span>&nbsp;Either</span>
                        </label>
                      </div>
                    </div>

                    <input type="email" name="_replyto" id="email" placeholder="Email" />
                    <input type="text" name="phone" id="phone" class="hide" placeholder="Phone" />
                    <input type="text" name="subject" id="subject" placeholder="Subject" required />
                    <textarea name="message" id="message" placeholder="Message" rows="6"required></textarea>
                    <!-- hidden -->
                    <input type="text" name="_gotcha" style="display:none" />
                    <!-- buttons -->
                    <input type="submit" class="special" value="Send Message" />
                    <input type="reset" value="Reset Form" />
                  </form>
                </div>
                <div class="right">
                  <ul class="contact">
                    <li>
                      <h3>Phone</h3>
                      <span>(567) 202-3818</span>
                    </li>
                    <li>
                      <h3>Email</h3>
                      <div class="pointer" onclick="focus_el('name')">beerbowerpaintingllc@gmail.com</div>
                    </li>
                    <li>
                      <h3>Social</h3>
                      <ul class="icons">
                        <li><a href="http://facebook.com/{{@blog.facebook}}" target="_blank" class="fa fa-facebook-official pointer"><span class="label">&nbsp;Facebook</span></a></li>
                        <li><a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square pointer"><span class="label">&nbsp;LinkedIn</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>

      <!-- Footer -->
    </div>
