{{!< default-page}}
<div class='grid-container'>
  <div class='preview hide'>
    <!-- <input type='button' value='Close' class='close' /> -->
    <div>
      <img />
    </div>
  </div>
  <div id='grid' class='grid'>
    <!-- code -->
  </div>
</div>

<div class='overlay' onclick='close()'></div>
