.employee-title {
    -ms-align-self: flex-start;
    align-self: flex-start;
}

.center {
    text-align: center;
}

.hide {
    display: none !important;
}

#projects .features {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

#projects .content {
    display: flex;
}

#projects .content img {
    border-radius: 5px;
    border: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.link-btn {
    background: #4acaa8;
    color: #fff;
    border: 1px solid #4acaa8;
    padding: 1rem;
    position: relative;
    border-radius: 1.5rem;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.link-btn:hover {
    color: #4acaa8 !important;
    background: #fff;
    border-bottom-color: #4acaa8;
}

.jcc {
    justify-content: center;
}

.flex {
    display: flex;
}

.column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.description {}

.double-width {
    width: 200%;
}

.double-width .img-title {
    display: inline;
    margin: 0 22.5%;
    font-weight: bold;
    color: black;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #4acaa8 !important
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.img-container {
    margin: 0.5rem;
}

.left {
    flex-grow: 1;
}

.left input {
    margin: .5em 0;
}

.right .contact li {
    list-style: none;
}

.radio-inline {
    display: inline;
    padding: 0 5px;
}

.radio-inline input {
    cursor: pointer;
}

.radio-inline input:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.radio-inline span {
    margin: 0 5px;
}

#header a {
    color: white;
    border: none;
}

#logo {
    font-weight: 700;
    font-size: 1.75em;
}

#footer {
    padding: 2em 0;
    padding-left: 0em;
}

#footer .copyright {
    margin: 0;
}

#footer .copyright a {
    cursor: pointer;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    float: right;
    text-align: center;
}

.copyright div {
    padding-top: 0.5rem;
    width: 33%;
}

@media (min-width: 100px) {
    .employee-title {
        padding-left: 3.5%;
    }
    #projects .content {
        flex-direction: column;
    }
}

@media (min-width: 750px) {
    .employee-title {
        padding-left: 18.5%;
    }
    #projects .content {
        flex-direction: row;
    }
}

@media (min-width: 970px) {}

@media (min-width: 1170px) {
    .employee-title {
        padding-left: 14.5%;
    }
    #footer:not(.center) {
        padding-left: 23em !important;
    }
}