.grid-container {
  min-height: 80vh;
}

.grid {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 25%;
}

.grid div img {
  touch-action: manipulation;
  /*height: 200px;*/
}

.cell {
  width: 100%;
  height: auto;
}

.cell:hover {
  opacity: 0.5;
  background: transparent;
  cursor: pointer;
}

.preview {
  box-shadow: 10% 10% 5% inset;
  position: fixed;
  height: 75vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
  z-index: 1;
}

.preview div, .preview img {
  width: 100%;
}

.preview .close {
  z-index: 5;
  background: lightgray;
  cursor: pointer;
  text-align: center;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -2;
}

.darker {
  background: rgba(0, 0, 0, 0.7);
}

#titleBar {
  display: none;
}

.no-scroll {
  overflow: hidden !important;
}

#nav {
  padding: 1rem;
}

#nav a {
  font-size: 20pt;
  letter-spacing: 1em;
  cursor: pointer;
}

.f-center {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

@media (min-width: 100px) {
  .grid div {
    width: 100%;
  }
  .preview {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (min-width: 750px) {
  .grid div {
    width: 50%;
  }
}
@media (min-width: 970px) {

}
@media (min-width: 1170px) {
  .grid div {
    width: 25%;
  }
  .preview {
    padding-left: 25%;
    padding-right: 25%;
  }
}
